*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
.flex{
    display: flex;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
ul, ol, menu{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color: #FF6900;
    padding: 10px;
}
.main-nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-size: 15px;
    height: 50px;
}
.nav__list{
    display: flex;
    gap: 20px;
    font-weight: 700;
}

/* Cards layout */

.row{
    flex-wrap: wrap;
    padding-top: 50px;
}
.col-4{
    width: calc(100% / 3);
    padding: 10px;
}

.card__img{
    position: relative;
}

.card__tag{
    position: absolute;
    bottom: 45px;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 13px;
    gap: 5px;
    z-index: 10;
}
.card__sale{
    background-color: red;
    padding: 7px;
}
.card__green{
    background-color: green;
    padding: 7px;
}
.card__heart{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: black;
    font-size: 40px;
    padding: 0px 10px;
    z-index: 10;
}

.img-a{
    z-index: 1;
}
.img-hoover{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
.card:hover .img-hoover{
    z-index: 10;
}

.card__heart:hover{
    color: red;
}
/* description */
.description__brand{
    font-weight: normal;
    font-size: 14px;
}
.description__type{
    font-size: 17px;
}
.actual-price{
    color: red;
}
.old-price{
    text-decoration: line-through;
}

/* footer layout */
footer{
    background-color: #1A1A1A;
    color: white;
}
.footer-container{
    justify-content: space-between;
    align-items: center;
}
